MYRMEX_TAG=20260716-1509
MYRMEX_DB_CONNECTION=Data Source=vm-bi-sql.dobroga.local;Initial Catalog=Myrmex_dev;Persist Security Info=True;User ID=sa;Password=<XXXXXX>;Encrypt=False;TrustServerCertificate=True
MYRMEX_DP_CERT_PASSWORD=<XXXXXX>
MYRMEX_ONEC_USERNAME=<XXXXXX>
MYRMEX_ONEC_PASSWORD=<XXXXXX>
MYRMEX_ONEC_SOURCEINSTANCE=dobroga2025_dev2
MYRMEX_ONEC_APIKEY=<XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX>
