MYRMEX_TAG=20260705-2056
MYRMEX_DB_CONNECTION=Data Source=vm-bi-sql.dobroga.local;Initial Catalog=Myrmex_dev;Persist Security Info=True;User ID=sa;Password=<XXXXX>;Encrypt=False;TrustServerCertificate=True
MYRMEX_ONEC_USERNAME=<XXXXX>
MYRMEX_ONEC_PASSWORD=<XXXXX>